@use 'base/variables' as v;
@use 'base/mixins' as m;

.dashboard {
    //@include m.grid(2, 1rem);
    display: flex;
    //height: 100vh;
    flex: 1;
    &__sidebar {
        background-color: lighten($color: v.$gris-oscuro, $amount: 10%);
        max-width: 12rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        
    }
    &__enlace {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: v.$blanco;
        gap: 1rem;
        border-radius: .5rem;
        font-size: 1.4rem;
        padding: 1rem;

        &:hover,
        &--actual {
            background-color: lighten($color: v.$gris-oscuro, $amount: 30%);
        }
    }
    &__main {
        overflow-y: scroll;
        width: 100%;  
    }
    &__titulo,
    &__subtitulo {
        text-align: center;
    }
    &__contenedor-perfil{
        @include m.tablet {
            @include m.grid(2, 1rem);
        }
    }
    &__restaurante-mesas {
        padding: 0 1rem;
        @include m.grid(4, 2rem);
    }
    &__mesa {
        @include m.mesa;
    }
}